table {
  border-width: 0px;
  border-spacing: 2px;
  border-style: solid;
  border-color: gray gray gray gray;
  border-collapse: seperate;
}
table th {
  border-width: 1px;
  padding: 1px;
  border-style: inset;
  border-color: gray gray gray gray;
}
table td {
  border-width: 1px;
  padding: 1px;
  border-style: inset;
  border-color: gray gray gray gray;
}

table.structural {
  border-style: none;
}

table.structural th {
  border-style: none;
}

table.structural td {
  border-style: none;
}

#devLink {
  text-align: right;
}

.redHeader {
  background-color: pink;
}

.blueHeader {
  background-color: lightblue;
}

.skillToBlue {
  background-color: lightblue;
}

.skillToRed {
  background-color: pink;
}

.speculativeGame {
  background-color: PapayaWhip;
}

.speculativeGameEntry {
  background-color: PapayaWhip;
}

.bagelGame {
  background-color: yellow;
}

.navNumInert {

}
.navNumCur {

}
.navNumFuture {

}
.navNumPast {

}

.graphPageForm {
  float:left;
}

.overrated {
  background-color: PaleGreen;
}

.underrated {
  background-color: pink;
}

.NAoverrated {

}

.justPlayed {
  background-color: Lavender;
}

